<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <div class="header">
          <img src="../../assets/images/N.jpg" alt="profil" class="profil">
          <h2 class="title">Mon tableau de bord</h2>
          <ion-icon name="notifications-outline"></ion-icon>
          <ion-icon name="mail-unread-outline"></ion-icon>
      </div>
      <ion-searchbar class="searchbar"></ion-searchbar>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <!-- card of sybservice -->
    <div class="services">
      <div class="row" >
        <ion-card class="item-card" routerLink="DetailFacture" (click)="checkFacture()">
          <ion-card-content class="content-card">

              <div class="img">
                <img src="../../../assets/images/immeuble.jpg" alt="">
              </div>

              <div class="text-content">
                <h2> <strong> Immeuble de la cité</strong> </h2>
              </div>

              <div class="price">
                <span>27500 xaf</span>
              </div>
          </ion-card-content>
        </ion-card>

        <ion-card class="item-card">
          <ion-card-content class="content-card">

              <div class="img">
                <img src="../../../assets/images/immeuble.jpg" alt="">
              </div>

              <div class="text-content">
                <h2> <strong> Immeuble de la cité</strong> </h2>
              </div>

              <div class="price">
                <span>27500 xaf</span>
              </div>
          </ion-card-content>
        </ion-card>

        <ion-card class="item-card">
          <ion-card-content class="content-card">

              <div class="img">
                <img src="../../../assets/images/immeuble.jpg" alt="">
              </div>

              <div class="text-content">
                <h2> <strong> Immeuble de la cité</strong> </h2>
              </div>

              <div class="price">
                <span>27500 xaf</span>
              </div>
          </ion-card-content>
        </ion-card>

        <ion-card class="item-card">
          <ion-card-content class="content-card">

              <div class="img">
                <img src="../../../assets/images/immeuble.jpg" alt="">
              </div>

              <div class="text-content">
                <h2> <strong> Immeuble de la cité</strong> </h2>
              </div>

              <div class="price">
                <span>27500 xaf</span>
              </div>
          </ion-card-content>
        </ion-card>

        <ion-card class="item-card">
          <ion-card-content class="content-card">

              <div class="img">
                <img src="../../../assets/images/immeuble.jpg" alt="">
              </div>

              <div class="text-content">
                <h2> <strong> Immeuble de la cité</strong> </h2>
              </div>

              <div class="price">
                <span>27500 xaf</span>
              </div>
          </ion-card-content>
        </ion-card>

        <ion-card class="item-card">
          <ion-card-content class="content-card">

              <div class="img">
                <img src="../../../assets/images/immeuble.jpg" alt="">
              </div>

              <div class="text-content">
                <h2> <strong> Immeuble de la cité</strong> </h2>
              </div>

              <div class="price">
                <span>27500 xaf</span>
              </div>
          </ion-card-content>
        </ion-card>
      </div>
    </div>
</ion-content>
