ion-header{
    ion-toolbar{
        ion-title{
                // background-color: rgb(29, 29, 170); 
                // height: 100px;
                border-radius: 0 0 15% 15%;
                .header{
    
                    display: flex;
                    color: black;
                    justify-content: space-around;
                    padding-top: 10%;
                    img{
                        width: 60px;
                        height: 30px;
                        border-radius: 30% 30% 30% 30%; 
                        flex: 2;
                    }
                    h2{
                        font-size: 1rem;
                        flex: 1;
                        margin: 10px;
                    }
                }
                ion-icon{
                    color: black;
                    // width: 30px;
                    // height: 30px;
                    flex: 1;
                }
                
        }
        
    }
}

.item-card{
    height: 80px; 
    .content-card{
        display: flex;
        text-align: center;
        img{
            width: 60px;
            height: 100%;
            flex: 1;
        }
        .text-content{
            color: black;
            font-weight: bold;
            flex: 2;
            text-align: center;
        }
        .price{
            flex: 1;
        }
    }
}