<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <div class="header">
        <ion-buttons slot="start">
          <ion-back-button defaultHref="home" ></ion-back-button>
        </ion-buttons>
          <img src="../../assets/images/N.jpg" alt="" class="profil">
          <h2 class="title"><strong>{{properties_title}}</strong></h2>
          <ion-icon name="notifications-outline" class="icon-notification"></ion-icon>
          <ion-icon name="mail-unread-outline"></ion-icon>
      </div>  
      <ion-searchbar class="searchbar" placeholder="Search Properties, Area,etc..."></ion-searchbar>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <!-- card of subservice -->
    <div class="services">
      <br><br>
      <div class="row" *ngFor="let Item of properties_details">
       
        <div class="item-card" routerLink="properties-detail" (click)="checkFacture()" >
            <div class="content-card">
                <div class="img">
                  <img src="../../../assets/images/immeuble.jpg" alt="">
                </div>
                <div class="text-content">
                  <h2> <strong> Immeuble de la cité</strong> </h2>
                  <div class="location">
                    <ion-icon name="location-outline"></ion-icon>
                    <span>Localisation </span>
                  </div>
                  <div class="price">
                    <span> 02 appartements</span><br>
                    <span>05 studios</span>
                  </div>
                </div> 
            </div>
         </div>
         <br>
      </div>
    </div>
</ion-content>
