ion-header{
    ion-toolbar{
        border-radius: 0 0 20px 20px;
        ion-title{
            background-color: #2A3088; 
                height: 150px;
                
                .header{
    
                    display: flex;
                    color: white;
                    // justify-content: space-around;
                    // padding-top: -10%;
                    text-align: center;
                    img{
                        width: 30px;
                        height: 30px;
                        margin-top: 2%;
                        border-radius: 20px; 
                        flex: 1;
                    }
                    h2{
                        font-size: 1rem;
                        flex: 1;
                        margin: 10px;
                        padding-left: 20%;
                        margin-top: 2%;
                    }
                    .icon-notification{
                        padding-left: 25%;
                        
                    }
                }
                ion-icon{
                    color: white;
                    flex: 1;    
                }
                ion-searchbar {
                    input {
                      border-radius: 30px !important;
                    }
                  }
                
        }
        
    }
}

ion-content{
    font-size: 0.8rem;
   .services{
    background-color: #F6F6F6;
   }
}
.item-card{
    height: auto; 
    background-color: white;
    width: 100%;
    .content-card{
        display: flex;
        text-align: center;
        height: 150px;
        img{
            width: 100px;
            height: 80%;
            border-radius: 20px;
            flex: 1;
            padding-top: 20%;
            margin-left: 5%;
            padding-left: 2%;
        }
        .text-content{
            color: rgb(140, 129, 129);
            font-weight: bold;
            flex: 2;
            text-align: center;
            margin-left: -10%;
            h2{
                color: black;
                font-size: 1rem;
                margin-left: -10%;
            }
        }
        .text-content > ion-icon {
            margin-left: -20%;
        }
        .price > span:last-child{
            margin-left: -35%;
        }
        span{
            margin-left: -20%;
        }
        
    }
    .location{
        display: flex;
        margin-left: 15%;
        span{
            margin-left: -0.5%;
        }
    }
}