     
     <!-- SCREEN LANDLORD LOCATION  !!!!! -->

<div class="state_user" >
  <ion-header [translucent]="true" >
    <ion-toolbar>
      <ion-title>
        <div class="header">
          <ion-buttons slot="start">
            <ion-back-button defaultHref="home" ></ion-back-button>
          </ion-buttons>
          <div *ngIf="image_url == false"><img src="../../../assets/icon/istockphoto-1300845620-612x612.jpg" alt="" class="profil"></div>
          <div *ngIf="image_url != false"><img [src]="profil" alt="" class="profil"></div>            
            <div class="row-show1" *ngFor="let item of properties_details">
                <div class="row-show2" *ngIf="item.categ_id == category_id" >
                  <h2 class="title"><strong>{{item.category}}</strong></h2>
                </div>   
            </div> 
            <ion-icon name="notifications-outline" class="icon-notification"></ion-icon>
            <ion-icon name="mail-unread-outline"></ion-icon>
        </div>  
        <ion-searchbar class="searchbar" placeholder="Search Properties, Area,etc..."></ion-searchbar>
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true" >
    
    <!-- card of subservice -->
      <div class="services" *ngFor="let Item of properties_details">
        <div class="row" >
          <div class="row-one" *ngIf="Item.categ_id === category_id">
            <div class="row-two" *ngFor="let itemProperties of Item.properties">
              <div class="item-card" (click)="checkDetail(Item.categ_id, itemProperties.id)" >
                <ion-card>
                  <div class="content-card">
                    {{getImage(itemProperties.image)}}
                      <div class="img" *ngIf="itemProperties.image == false">
                        <img src="../../../assets/images/immeuble.jpg" alt="">
                      </div>
                      <div class="img" *ngIf="itemProperties.image != false">
                        <img [src]="logo" alt="">
                      </div>
                      <div class="text-content">
                        <h2> <strong>{{itemProperties.name}}</strong> </h2>
                        <div class="location">
                          <ion-icon name="location-outline"></ion-icon>
                          <span>{{itemProperties.adress}} </span>
                        </div>
                        <div class="price" *ngFor="let detail of itemProperties.detail">
                          <span>{{detail.count}} {{detail.name}}</span><br>
                        </div>
                      </div> 
                  </div>
                </ion-card>
              </div>
              <br>
            </div>
          </div>    
        </div>
      </div>
  </ion-content>
</div>

 