@media screen and (min-width: 459px){
    .line-foor{
        .content-all{
            .row-information{
                .line_two{
                    margin-top: -4%;
                }
            }
        }
    }
    
}

@media screen and (min-width: 498px){
    .line-foor{
        .content-all{
            .row-information{
                .line_one{
                    // display: flex;
                    margin-top: -2%;
                    h4{
                        margin-left: 25%;
                    }
                }
                .line_two{
                    margin-top: -4%;
                    strong{
                        margin-left: 35%;
                    }
                }
                
            }
        }
    }
    
}

@media screen and (min-width: 542px){
    .line-foor{
        .content-all{
            .row-information{
                .details{
                    margin-top: -7%;
                }
            }
        }
    }
    
}

@media screen and (min-width: 580px){
    .line-foor{
        .content-all{
            .row-information{
                .line_one{
                    // display: flex;
                    margin-top: -2%;
                    h4{
                        margin-left: 35%;
                    }
                }
                .line_two{
                    margin-top: -5%;
                    strong{
                        margin-left: 45%;
                    }
                }
                .details{
                    margin-top: 1%;
                }
                .details > p:first-child{
                    color: #827171;
                }
                .details > p:last-child{
                   position: absolute;
                   left: 55%;
                }
            }
        }
    }
    
}


@media screen and (min-width: 567px){
    .line-foor{
        .content-all{
            .row-information{
                .details{
                    margin-top: -5.5%;
                }
            }
        }
    }
    
}

@media screen and (min-width: 633px){
    .line-foor{
        .content-all{
            .row-information{
                .details{
                    margin-top: 1%;
                }
            }
        }
    }
    
}

@media screen and (min-width: 677px){
    .line-foor{
        .content-all{
            .row-information{
                .details{
                    margin-top: 3%;
                }
            }
        }
    }
    
}

@media screen and (min-width: 564px){
    .line-foor{
        .content-all{
            .row-information{
                .details{
                    margin-top: -6%;
                }
            }
        }
    }
    
}

@media screen and (min-width: 610px){
    .line-foor{
        .content-all{
            .row-information{
                .line_two{   
                    margin-top: -3%;
                }
                .details{
                    margin-top: -8%;
                }
            }
        }
    }
    
}

@media screen and (min-width: 692px){
    .line-foor{
        .content-all{
            .row-information{
               
                .details{
                    margin-top: -6%;
                }
            }
        }
    }
    
}

@media screen and (min-width: 717px){
    .line-foor{
        .content-all{
            .row-information{
                .line_two{   
                    margin-top: -3%;
                }
                .details{
                    margin-top: -5%;
                }
            }
        }
    }
    
}

@media screen and (min-width: 737px){
    .line-foor{
        .content-all{
            .row-information{
                // .line_two{   
                //     margin-top: -3%;
                // }
                .details{
                    margin-top: -6%;
                }
            }
        }
    }
    
}


@media screen and (min-width: 849px){
    .line-foor{
        .content-all{
            .row-information{
                // .line_two{   
                //     margin-top: -3%;
                // }
                .details{
                    margin-top: -6%;
                }
            }
        }
    }
    
}

@media screen and (min-width: 991px){
    .line-foor{
        .content-all{
            .row-information{
                // .line_two{   
                //     margin-top: -3%;
                // }
                .details{
                    margin-top: -5%;
                }
            }
        }
    }
    
}

@media screen and (min-width: 350px){
    .line-foor{
        .content-all{
            .row-information{
                // .line_two{   
                //     margin-top: -3%;
                // }
                .details > p:last-child{
                    margin-left: 40%;
                }
            }
        }
    }
    
}

@media screen and (min-width: 261px){
    .line-foor{
        .content-all{
            .row-information{
                // .line_two{   
                //     margin-top: -3%;
                // }
                .details > p:last-child{
                    margin-left: 20%;
                }
            }
        }
    }
    
}
@media screen and (min-width: 258px){
    .line-foor{
        .content-all{
            .row-information{
                // .line_two{   
                //     margin-top: -3%;
                // }
                .details > p:last-child{
                    margin-left: 15%;
                }
            }
        }
    }
    
}
    ion-header{
    ion-toolbar{
        border-radius: 0 0 20px 20px;
        ion-title{
            background-color: #2A3088; 
                height: 150px;
                
                .header{
    
                    display: flex;
                    color: white;
                    // justify-content: space-around;
                    // padding-top: -10%;
                    text-align: center;
                    img{
                        width: 30px;
                        height: 30px;
                        margin-top: 2%;
                        border-radius: 20px; 
                        flex: 1;
                    }
                    h2{
                        font-size: 1rem;
                        flex: 1;
                        margin: 10px;
                        padding-left: 5%;
                        margin-top: 2%;
                    }
                    .icon-notification{
                        padding-left: 25%;
                        
                    }
                }
                ion-icon{
                    color: white;
                    flex: 1;    
                }
                ion-searchbar {
                    input {
                      border-radius: 30px !important;
                    }
                  }
                
        }
        
    }
}

ion-content{
   .services{
    background-color: #F6F6F6;
   }
}
.item-card{
    height: auto; 
    background-color: white;
    width: 100%;
    .content-card{
        display: flex;
        text-align: center;
        height: 150px;
        img{
            width: 100px;
            height: 80%;
            border-radius: 40px;
            flex: 1;
            padding-top: 20%;
            margin-left: 5%;
            padding-left: 2%;
        }
        .text-content{
            color: rgb(140, 129, 129);
            font-weight: bold;
            flex: 2;
            text-align: center;
            margin-left: -10%;
            h2{
                color: black;
                font-size: 1rem;
                // margin-left: -10%;
            }
            p{
                // margin-left: -50%;
                margin-left: 20%;
                margin-top:-1%;
            }
            .line{
                display: flex;
                span{
                    position: absolute;
                    top: 40%;
                    margin-left: 25%;
                }
            }
        }
       
        
    }
    .location{
        display: flex;
        margin-left: 15%;
        span{
            margin-left: -0.5%;
        }
    }
    .price{
        background-color: white;
        display: flex;
    }
}

.content-all{
    display: flex;
    background-color: #F6F6F6;
    width: 100%;
    padding: 1%;
    height: auto;
    .row-lg{
        background-color: white;
        margin-top: 0%;
        height: auto;
        // border: inset white;
        .line_one{
            display: flex;
            h2{
                color: #827171;
                font-size: 0.8rem;
                margin-left: 20%;
            }
        }
        .line_one > {
            margin-left: 5%;
        }
        .line_one > h2:last-child {
            margin-left: 22%;
        }
        .line_two{
            display: flex;
            margin-top: -5%;
        }
        .line_two > h1:first-child{
            color: rgb(160, 238, 43);
            padding-left: 2%;
        }
        .line_two > h1:last-child{
            margin-left: 8%;
            color: red;
        }
        .row-ld > .line_one > h1{
            color: rgb(167, 241, 57);
            margin-top: 10%;
            margin-left: -25%;
        }
    }

    .row-information{
        background-color: white;
        // border-radius: 20px;
        height: auto;
        width: 100%;
        padding-left: 10%;
        .line_one{
            display: flex;
           h4{
               font-size: 0.8rem;
               margin-left: 5%;
               color: black;
           }
        }
        .line_one > p {
            // margin-left: 50%;
            margin-top: 4.5%;
            color: #827171;
        }
        .line_two{
            display: flex;
            margin-top: -8%;
            h3{
                font-size: 1rem;
                color: #827171;
            }
            strong{
                color: black;
                margin-left: 25%;
                float: left;
                position: absolute;
            }
            p:last-child{
                margin-left: 20%;
                color: rgb(49, 43, 55);
            }
        }
        .details{
            display: flex;
            margin-top: -10%;
        }
        .details > p:first-child{
            color: #827171;
        }
        .details > p:last-child{
           position: absolute;
           left: 55%;
        }
       
    }
    
}
