                <!-- SCREEN TENANT LOCATION !!!!! -->

                <div class="user-state">
                  <ion-header [translucent]="true" >
                    <ion-toolbar>
                      <ion-title>
                        <div class="header" *ngFor="let Item of properties_user">
                          <ion-buttons slot="start">
                            <ion-back-button defaultHref="locataire" ></ion-back-button>
                          </ion-buttons>
                            <div *ngIf="image_url == false"><img src="../../../assets/icon/istockphoto-1300845620-612x612.jpg" alt="" class="profil"></div>
                            <div *ngIf="image_url != false"><img [src]="profil" alt="" class="profil"></div>
                            <h2 class="title" ><strong>Mon tableau de bord</strong></h2>
                            <ion-icon name="log-out-outline" (click)="logout()"></ion-icon>
                        </div>  
                        <ion-searchbar class="searchbar" placeholder="Search Properties, Area,etc..."></ion-searchbar>
                      </ion-title>  
                    </ion-toolbar>
                  </ion-header>
                  
                  <ion-content [fullscreen]="true">
                    
                    <!-- card of subservice -->
                      <div class="services">
                        <br>
                        <div class="row" *ngFor="let Item of properties_user"> 
                          <div class="row-one" *ngIf="Item.id == id">
                            <div>{{getStatus(Item.balance)}}</div>
                            <div class="item-card">
                              <div class="content-card">
                                  <div class="text-content">
                                    <h2> <strong>{{Item.name}}</strong> </h2>
                                    <br>
                                    <div class="line">
                                      <p>Balance</p>
                                      <div class="location" *ngIf="amountStatus == true">
                                        <span style="color: rgb(138, 216, 20);">{{Item.balance}} XAF</span>
                                      </div>
                                      <div class="location" *ngIf="amountStatus == false">
                                        <span style="color: red">{{Item.balance}} XAF</span>
                                      </div>
                                    </div> 
                                  </div> 
                              </div>
                            </div>
                            <br>
                            <div class="line-foor" *ngFor="let lease of Item.services"> 
                              <div> {{fetchStatus(lease.amount)}}</div>            
                              <div class="content-all">  
                                  <div class="row-information" >
                                    <div class="line_one">
                                      <p>description:</p>
                                      <h4><strong>{{lease.name}}</strong></h4>
                                    </div>
                                    <div class="line_two">
                                      <p *ngIf="lease.service_type == 'invoice'">date facturation: {{lease.date}}</p>
                                      <p *ngIf="lease.service_type == 'payment'">date paiement: {{lease.date}}</p>
                                      <h3> {{lease.start}} {{lease.end}}</h3>
                                    </div> <br>
                                    <div class="details" *ngIf="balanceStatus == true">
                                      <p>Montant: </p>
                                      <p style="color: greenyellow;"> 
                                        {{lease.amount}}XAF
                                      </p >  
                                    </div>
                                    <div class="details" *ngIf="balanceStatus == false">
                                      <p>Montant: </p>
                                      <p style="color: red;"> 
                                        {{lease.amount}}XAF
                                      </p >  
                                    </div>
                                </div>
                                <br>
                              </div>
                          </div>
                          </div>  
                        </div>
                      </div>
                  </ion-content>
                  </div>