.login-form{
    margin-top: 20%;
    padding: 5%;
}
.row{
    text-align: center;
    img{
        margin-top: 10%;
    }
}
a{
    text-decoration: none;
    margin-left: 50%;
}
.login-select{
    height: 60px;
    
    width: 100%;
    background-color: #2A3088;
}
.content{
    // border: 1px groove white;
    border-right: none;
    border-left: none;
    // border-radius: 10% 10% 0 0;
}
ion-button{
    --background-color: #2A3088;
}