                <!-- SCREEN TENANT LOCATION !!!!! -->

                <div class="user-state">
                  <ion-header [translucent]="true" >
                    <ion-toolbar>
                      <ion-title>
                        <div class="header">
                            <img src="../../assets/images/N.jpg" alt="" class="profil">
                            <h2 class="title" ><strong>Mon tableau de bord</strong></h2>
                            <ion-icon name="log-out-outline" (click)="logout()"></ion-icon>
                        </div>  
                        <ion-searchbar class="searchbar" placeholder="Search Properties, Area,etc..."></ion-searchbar>
                      </ion-title>  
                    </ion-toolbar>
                  </ion-header>
                  
                  <ion-content [fullscreen]="true">
                    
                    <!-- card of subservice -->
                      <div class="services">
                        <div class="row" *ngFor="let Item of properties_user"> 
                          <br>
                          <div class="item-card" (click)="checkId(Item.id)" >
                              <div class="content-card">
                                  <div class="text-content">
                                    <h2> <strong>{{Item.name}}</strong> </h2>
                                    <br>
                                    <div class="line">
                                      <p>Balance</p>
                                    <div class="location">
                                      <span style="color: rgb(138, 216, 20);">{{Item.balance}} XAF</span>
                                    </div>
                                    </div>
                                  </div> 
                              </div>
                            </div>
                            <br>
                        </div>
                      </div>
                  </ion-content>
                  </div>