<ion-content>
  <ion-slides pager="true" [options]="slideOpts" #slides (ionSlideWillChange)="slideChange()">
    <ion-slide>
      <img src="../../../assets/images/home.png" alt="" class="home">
      <br><br><br>
    </ion-slide>

    <ion-slide>
      <div class="containt">
        <img src="../../../assets/images/entete_1.png" alt="" class="slide_header">
        <img src="../../../assets/images/slide1.png" alt="" class="silde_content">
         <h2> <strong>Consulter tous les activités menées sur vos biens</strong> </h2>
      </div>

    </ion-slide>

    <ion-slide>
      <div class="content-slide">
        <div class="image_one">
          <img src="../../../assets/images/urn_4.png" alt="">
        </div>
        <div class="image_two">
          <img src="../../../assets/images/urn_2.png" alt="">
        </div>
        <div class="image_tree">
          <img src="../../../assets/images/urn_3.png" alt="">
        </div>
      </div>
     <div class="text-slide">
      <h1><strong>La gestion <br> locative en toute <br> simplicité</strong> </h1>
     </div>
    </ion-slide>
  </ion-slides>
</ion-content>