ion-slide{
    .home{
        height: auto;
    }
    .containt{
        height: 100%;
        background-color: #2A3088;
         .silde_content{
          margin-top: 50%;
    }
        h2{
            color: white;
            font-weight: bold;
        }
    }
}