<ion-content>
  <ion-slides pager="true" [options]="slideOpts">
    <ion-slide>
      <img src="../../../assets/images/home.png" alt="" class="home">
      <br><br><br>
    </ion-slide>
    <ion-slide>
     
      <div class="containt">
        <img src="../../../assets/images/slide1.png" alt="" class="silde_content">
         <h2> <strong>Consulter tous les activités menées sur vos biens</strong> </h2>
         <br><br><br><br><br><br><br><br><br>
      </div>

    </ion-slide>
    <ion-slide>
      <LoginComponent></LoginComponent>
    </ion-slide>
  </ion-slides>
</ion-content>