<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <div class="header">
          <img src="../../assets/images/N.jpg" alt="profil" class="profil">
          <h2 class="title">Mon tableau de bord</h2>
          <ion-icon name="notifications-outline"></ion-icon>
          <ion-icon name="mail-unread-outline"></ion-icon>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <div class="card-content">
      <div class="row">
        <ion-card class="card-one" (click)="checkService()" routerLink="Services">
          <ion-card-header>
            <img src="../../assets/images/immeuble.jpg" alt="">
          </ion-card-header>
        
          <ion-card-content>
            IMMEUBLE
          </ion-card-content>
        </ion-card>

        <ion-card class="card-two" (click)="checkService()" routerLink="Services">
          <ion-card-header>
            <img src="../../assets/images/immeuble.jpg" alt="">
          </ion-card-header>
        
          <ion-card-content>
            MAISON
          </ion-card-content>
        </ion-card>
      </div>

      <div class="row">
        <ion-card class="card-one" (click)="checkService()" routerLink="Services">
          <ion-card-header>
            <img src="../../assets/images/immeuble.jpg" alt="">
          </ion-card-header>
        
          <ion-card-content>
            VILLA
          </ion-card-content>
        </ion-card>

        <ion-card class="card-two" (click)="checkService()" routerLink="Services">
          <ion-card-header>
            <img src="../../assets/images/immeuble.jpg" alt="">
          </ion-card-header>
        
          <ion-card-content>
            TERRAIN
          </ion-card-content>
        </ion-card>
      </div>
    </div>
</ion-content>
