ion-header{
    ion-toolbar{
        border-radius: 0 0 20px 20px;
        ion-title{
            background-color: #2A3088; 
                height: 150px;
                
                .header{
    
                    display: flex;
                    color: white;
                    // justify-content: space-around;
                    // padding-top: -10%;
                    text-align: center;
                    img{
                        width: 50px;
                        height: 30px;
                        margin-top: 2%;
                        border-radius: 35% 35% 35% 35%; 
                        flex: 1;
                    }
                    h2{
                        font-size: 1rem;
                        flex: 1;
                        margin: 10px;
                        padding-left: 10%;
                        margin-top: 2%;
                    }
                    .icon-notification{
                        padding-left: 25%;
                        
                    }
                }
                ion-icon{
                    color: white;
                    flex: 1;    
                }
                ion-searchbar {
                    input {
                      border-radius: 30px !important;
                    }
                  }
                
        }
        
    }
}

ion-content{
   .services{
    background-color: #F6F6F6;
   }
}
.item-card{
    height: 80px; 
    .content-card{
        display: flex;
        text-align: center;
        img{
            width: 60px;
            height: 100%;
            flex: 1;
        }
        .text-content{
            color: black;
            font-weight: bold;
            flex: 2;
            text-align: center;
        }
        .price{
            flex: 1;
        }
    }
}