<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <div class="header">
        <ion-buttons slot="start">
          <ion-back-button defaultHref="properties" ></ion-back-button>
        </ion-buttons>
          <img src="../../assets/images/N.jpg" alt="" class="profil">
          <h2 class="title"><strong>{{peoperties_name[0]}}</strong></h2>
          <ion-icon name="notifications-outline" class="icon-notification"></ion-icon>
          <ion-icon name="mail-unread-outline"></ion-icon>
      </div>  
      <ion-searchbar class="searchbar" placeholder="Search Properties, Area,etc..."></ion-searchbar>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="content-detail">
  
    <br>
      <div class="row-lg">
          <div class="line_one">
            <h2><strong>GROSS REVENUE</strong></h2>
            <h2><strong>EXPENSES</strong></h2> 
          </div>
          <div class="line_two">
            <h1>500, 000XAF</h1>
            <h1>-55 000XAF</h1>
          </div>
          <div class="row-ld">
            <div class="line_one">
              <h2><strong>NET RESULT</strong></h2>
              <h1>445, 000XAF</h1>
            </div>
          </div>
      </div>

    <br>
    <br>
    <br>
      <div class="content-all" *ngFor="let item of more_properties">
          
          <div class="row-information" >
            <div class="line_one">
              <h4><strong>Appartement A</strong></h4>
              <p>Active</p>
            </div>
            <div class="details">
              <p>
                Long street-Akwa rue 12504
              </p >  
              <p>
                Jean LUC
              </p>
            </div>
            <div class="line_two">
              <h3>From _debut to _fin</h3>
              <p><strong>500, 0000XAF</strong></p>
            </div>
        </div>
        <br>
      </div>
  </div>
</ion-content>
