<!-- <ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content >
  <div class="container" >
    <div class="row" >
        <img src="../../../assets/images/logo.png" alt="">
      <br>
       <img src="../../../assets/images/connexion_tb.png" alt="">
    </div>
    
   <!-- <div class="login-select"></div> -->
   <div class="content" >
     <div class="form-header">
          <!-- <h2 ><strong >Locataire </strong></h2>
          <h2>|</h2>
          <h2><strong>Propriétaire </strong></h2> -->
     </div>
      <div class="login-form" *ngIf="isLoanding == false">
          <form (ngSubmit)="LoginUser(f)" #f="ngForm" novalidate>
            <ion-item>
                <ion-label position="floating">Email address</ion-label>
                <ion-input  id="email" type="email" name="email" [(ngModel)]="data_user.email" required></ion-input>
            </ion-item>
            
            <ion-item>
                <ion-label position="floating">Password</ion-label>
                <ion-input id="password" type="password" name="password" [(ngModel)]="data_user.password" required></ion-input>
            </ion-item>
            <br>

            <ion-button  expand="block" type="submit"  >LOGIN</ion-button>
            <!-- <br> -->
            <a routerLink="reset-password">Forgot password ?</a>
          </form> 
      </div>
   </div>

    <br><br>

    <div class="row-lg">
      <img src="../../../assets/images/footer-login.png" alt="">
    </div>

</div>
</ion-content>
