<div class="container">
    <div class="row">
      <img src="../../../assets/images/logo.png" alt="">
      <br>
      <img src="../../../assets/images/connexion_tb.png" alt="">
    </div>
    
   <!-- <div class="login-select"></div> -->
   <div class="content">
    <div class="login-form">
      <form action="">
        <ion-item>
          <ion-label position="floating">Email address</ion-label>
          <ion-input type="text"></ion-input>
        </ion-item>
        
        <ion-item>
          <ion-label position="floating">Password</ion-label>
          <ion-input type="password"></ion-input>
        </ion-item>
        <br>

        <ion-button (click)="Submit()" expand="block" routerLink="forgetPassword">LOGIN</ion-button>
        <!-- <br> -->
        <a routerLink="forgetPassword">Forgot password ?</a>

      </form> 
    </div>
   </div>

    <br><br>

    <div class="row-lg">
      <img src="../../../assets/images/footer-login.png" alt="">
    </div>

</div>
