<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <div class="header">
          <img src="../../assets/images/N.jpg" alt="profil" class="profil">
          <h2 class="title"><strong>Mon tableau de bord</strong></h2>
          <ion-icon name="notifications-outline"></ion-icon>
          <ion-icon name="mail-unread-outline"></ion-icon>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <div class="card-content">
      <br><br>
      <div class="row" *ngFor="let item of categories">
        <ion-card  (click)="checkProperties(item.categ_id)" >
          <ion-card-header>
            <img src="../../assets/images/immeuble.png" alt="">
          </ion-card-header>
        
          <ion-card-content>
            <br>
            <strong>{{item.category}}</strong>
            <br>
            <strong>{{item.num}}</strong>
          </ion-card-content>
        </ion-card> 
      </div>
      <br><br><br><br>
      <div class="footer">
        <img src="../../assets/images/footer-login.png" alt="">
      </div>
    </div>

</ion-content>
