
<ion-content>
    <div class="container">
      <div class="row-line" >
        <img src="../../../assets/images/logo.png" alt="">
      <br>
       <img src="../../../assets/images/connexion_tb.png" alt="">
    </div>
<br><br><br><br><br>
    <div class="row">
      <ion-button  expand="block" type="submit"  (click)="selectChoose('tenant')">Locataire</ion-button>
      <ion-button  expand="block" type="submit"  (click)="selectChoose('landlord')">Propriétaire</ion-button>
    </div>
    </div>
</ion-content>
